.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
}

.offerSelection {
  height: inherit;
  width: 100vw;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;

  row-gap: 20px;
}
